<sensei>
  <!-- Custom Analyses -->
  <analysis type="histogram" mesh="atoms" array="type" association="point"
    bins="67" enabled="0" />

  <analysis type="histogram" mesh="atoms" array="id" association="point"
    bins="32" enabled="0" />

  <!-- Available with ENABLE_VTK_IO -->
  <analysis type="PosthocIO" mode="paraview" output_dir="" enabled="0">
    <mesh name="atoms">
        <point_arrays> type, id</point_arrays>
    </mesh>
  </analysis>

  <!-- Available with ENABLE_CATALYST -->
  <analysis type="catalyst" pipeline="pythonscript"
    filename="gaussianpoints.py" enabled="1" />
</sensei>

