layout: index
description: SENSEI in situ
subtitle: SENSEI ∙  Scalable in situ analysis and visualization
cmd: git clone https://github.com/Kitware/sensei.git
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://gitlab.kitware.com/sensei/sensei/tags").link Releases
      p.intro-feature-desc SENSEI source code releases are tagged and downloadable here.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-book
      h3.intro-feature-title
        a(href="https://data.kitware.com/#collection/5a007cb58d777f31ac64ddfd/folder/5a049b808d777f31ac64e77d").link Tutorial
      p.intro-feature-desc Tutorial material from Supercomputing 2017, including a virtual machine.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-tachometer
      h3.intro-feature-title
        a(href="http://cdash.hpcvis.com/index.php?project=SENSEI").link Testing dashboard
      p.intro-feature-desc SENSEI is tested as commits are merged.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bug
      h3.intro-feature-title
        a(href="http://gitlab.kitware.com/sensei/sensei/issues").link Issues
      p.intro-feature-desc Report a bug or request a feature.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-comments-o
      h3.intro-feature-title
        a(href="http://discourse.kitware.com/c/sensei").link Community &amp; Feedback
      p.intro-feature-desc Tell us what you think!

div#intro-get-started-wrap
  a(href="/learn-more/index.html", id="intro-get-started-link") Learn more

div#gallery
  img(
    src="https://data.kitware.com/api/v1/item/5bd137508d777f06b936b71d/download"
    style="width: 100%;")
  p.intro-feature-desc
    span
      b About this image: &nbsp;
    span.caption ParaView/Catalyst on 256,000 processes on Mira.

script.
  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min)) + min;
  }
  var imgdiv = document.querySelector('div#gallery');
  var imgele = imgdiv.querySelector('img');
  var imgcap = imgdiv.querySelector('span.caption');
  var images = [
    { url: 'https://data.kitware.com/api/v1/item/5bd137508d777f06b936b71d/download',
      caption: 'ParaView/Catalyst on 256,000 processes on Mira.' },
    { url: 'https://data.kitware.com/api/v1/item/5bd137368d777f06b936b6d9/download',
      caption: 'Interactive in transit visualization of a 172k atom simulation of silicene formation with 128 LAMMPS ranks sending to 16 renderer ranks, all executed on Theta at the Argonne Leadership Computing Facility. OSPRay is used as the rendering engine.' },
    { url: 'https://data.kitware.com/api/v1/item/5bd1377b8d777f06b936b7ab/download',
      caption: 'A Nek5000 simulation instrumented with SENSEI to render via libSim.' },
    { url: 'https://data.kitware.com/api/v1/item/5bd137758d777f06b936b795/download',
      caption: 'Downstream cross flow cut-planes at various positions of the NREL WindPACT-1.5MW wid turbine.' },
    { url: 'https://data.kitware.com/api/v1/item/5bd1372d8d777f06b936b6bf/download',
      caption: 'An iso-contour of the velocity magnitude demonstrating the vortex structure evolution of the NREL WindPACT-1.5WM wind turbine. The data extract were creating using in-situ in Libsim, and the data was post-processed using VisIt.' },
    { url: 'https://data.kitware.com/api/v1/item/5bd137608d777f06b936b75b/download',
      caption: 'Ghost cell information can be requested so isocontouring and other operations are rendered properly.' },
    { url: 'https://data.kitware.com/api/v1/item/5bd137588d777f06b936b73f/download',
      caption: 'In situ rendering of the AMReX advection mini-app running on Cori. The Python based analysis code uses Yt, a popular AMR aware rendering suite written exclusively in Python.' }
  ];
  var imageIdx = getRandomInt(1, images.length);
  function nextImage() {
    imageIdxDelta = getRandomInt(1, images.length);
    imageIdx = (imageIdx + imageIdxDelta) % images.length;
    imgele.setAttribute('src', images[imageIdx].url);
    imgcap.innerText = images[imageIdx].caption;
  }
  var timerId = setInterval(nextImage, 8000);
