layout: index
description: SENSEI in situ
subtitle: SENSEI ∙  Scalable in situ analysis and visualization
cmd: git clone https://gitlab.kitware.com/sensei/sensei.git
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://gitlab.kitware.com/sensei/sensei/tags").link Releases
      p.intro-feature-desc SENSEI source code releases are tagged and downloadable here.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-book
      h3.intro-feature-title
        a(href="https://data.kitware.com/#collection/5a007cb58d777f31ac64ddfd/folder/5a049b808d777f31ac64e77d").link Tutorial
      p.intro-feature-desc Tutorial material from Supercomputing 2017, including a virtual machine.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-tachometer
      h3.intro-feature-title
        a(href="http://cdash.hpcvis.com/index.php?project=SENSEI").link Testing dashboard
      p.intro-feature-desc SENSEI is tested as commits are merged.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bug
      h3.intro-feature-title
        a(href="http://gitlab.kitware.com/sensei/sensei/issues").link Issues
      p.intro-feature-desc Report a bug or request a feature.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-comments-o
      h3.intro-feature-title
        a(href="http://discourse.kitware.com/c/sensei").link Community &amp; Feedback
      p.intro-feature-desc Tell us what you think!

div#intro-get-started-wrap
  a(href="/sensei/learn-more/index.html", id="intro-get-started-link") Learn more

div#banner
  img(
    src="https://data.kitware.com/api/v1/file/5aea33018d777f0685797021/download"
    alt="ParaView/Catalyst on 256,000 processes on Mira"
    style="width: 100%;")
  p.intro-feature-desc ParaView/Catalyst on 256,000 processes on Mira.
